<!--desktop view -->
<div class="hidden-xs">
	<%= form_for [@scanner, @item] do |f| %>
		<div class="row form-group">
			<div class="col-md-3">
				<%= f.text_field :upc, class: "form-control upc-input"%>
			</div>
			<div class="col-md-3">
				<%= f.text_field :quantity, class: "form-control"%>
			</div>
			<div class="col-md-3">
				<%= f.text_field :retail_price, class: "form-control"%>
			</div>
			<div class="col-md-3">
				<input class="form-group" type="file" accept="image/*;capture=camera">
			</div>
		</div>
		<div class="row">
			<%= f.submit "Add Item", class: "col-md-4 btn btn-default btn-info"%>
		</div>
	<% end %>
</div>

<!--mobile view -->
<div class="hidden-lg hidden-md">
	<div class="row">
		<label class="col-xs-4">Scan Upc:</label>
		<input class="form-group col-xs-8" type="file" accept="image/*;capture=camera">
	</div>
	<%= form_for [@scanner, @item], :html =>{class: 'hidden-lg hidden-md new-upc-item-mobile'} do |f| %>
		<div class="row form-group">
			<div class="col-xs-12">
				<%= f.text_field :upc, placeholder: "UPC", class: "form-control upc-input clearable"%>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-6">
				<%= f.text_field :quantity, placeholder: "Quantity", class: "form-control upc-item-quantity clearable"%>
			</div>
			<div class="col-xs-6">
				<%= f.text_field :retail_price, placeholder: "Retail Price", class: "form-control upc-item-retail clearable"%>
			</div>
		</div>
		<div class="row">
			<%= f.submit "Add Item", class: "col-xs-12 btn btn-default btn-info"%>
		</div>
	<% end %>
</div>