<div class="edit-scanner">
	<div class="row hidden-md hidden-lg">
		<%= link_to "Back", inventory_path(@scanner.inventory), class: "btn btn-info btn-default back-button spaced-button col-xs-12" %>
	</div>
	<div class="row">
		<h2 class="col-md-6 col-xs-12">Add New Item:</h2>
		<h2><%= link_to "Back", inventory_path(@scanner.inventory), class: "btn btn-info btn-default back-button col-md-3 col-md-offset-3 hidden-xs" %></h2>
	</div>
	<div class="hidden-xs">
		<%= render partial: "new_form_labels" %>
	</div>
	<%= render partial: "new_item" %>
	<div class="row">
		<h2 class="col-md-6">Update Scanner Items:</h2>
	</div>
	<div class="hidden-xs">
		<%= render partial: "edit_form_labels" %>
	</div>

		<%= form_for @scanner do |f| %>
			<%= f.fields_for :upc_items do |i_f| %>
				<!--desktop view-->
				<div class="hidden-xs">
					<div class="row form-group">
						<div class="col-md-2">
							<p><%=i_f.object.upc %></p>
						</div>
						<div class="col-md-2">
							<p><%=i_f.object.brand_name %></p>
						</div>
						<div class="col-md-2">
							<p><%=i_f.object.product_name %></p>
						</div>
						<div class="col-md-2">
							<%= i_f.text_field :quantity, class: "form-control"%>
						</div>
						<div class="col-md-2">
							<%= i_f.text_field :retail_price, class: "form-control"%>
						</div>
						<div class="col-md-2">
							<%= i_f.check_box :_destroy%>
							<%= f.label :_destroy, "Delete Item?" %>
						</div>
					</div>
				</div>
				<!--mobile view-->
				<div class="hidden-lg hidden-md">
					<div class="row form-group">
						<div class="col-xs-4">
							<p><%=i_f.object.upc %></p>
						</div>
						<div class="col-xs-4">
							<p><%=i_f.object.brand_name %></p>
						</div>
						<div class="col-xs-4">
							<p><%=i_f.object.product_name %></p>
						</div>
					</div>
					<div class="row form-group update-item-bottom-row">
						<div class="col-xs-4">
							<%= i_f.text_field :quantity, class: "form-control"%>
						</div>
						<div class="col-xs-4">
							<%= i_f.text_field :retail_price, class: "form-control"%>
						</div>
						<div class="col-xs-4">
							<%= i_f.check_box :_destroy%>
							<%= f.label :_destroy, "Delete Item?" %>
						</div>
					</div>
				</div>
			<% end %>
			<div class="row">
			<%= f.submit "Update Scanner", class: "col-md-10 col-xs-12 btn btn-default btn-info"%>
			</div>
		<% end %>

</div>