<div class="edit-scanner">
	<div class="row">
		<h2 class="col-md-6">Update Scanner Items:</h2>
		<h2><%= link_to "Back", inventory_path(@scanner.inventory), class: "btn btn-info btn-default back-button col-md-3 col-md-offset-3" %></h2>
	</div>
	<%= render partial: "form_labels" %>
	<%= form_for @scanner do |f| %>
		<%= f.fields_for :upc_items do |i_f| %>
			<div class="row form-group">
				<div class="col-md-2">
					<p><%=i_f.object.upc %></p>
				</div>
				<div class="col-md-2">
					<p><%=i_f.object.brand_name %></p>
				</div>
				<div class="col-md-2">
					<p><%=i_f.object.product_name %></p>
				</div>
				<div class="col-md-2">
					<%= i_f.text_field :quantity, class: "form-control"%>
				</div>
				<div class="col-md-2">
					<%= i_f.text_field :retail_price, class: "form-control"%>
				</div>
				<div class="col-md-2">
					<%= i_f.check_box :_destroy%>
					<%= f.label :_destroy, "Delete Item?" %>
				</div>
			</div>
		<% end %>
		<div class="row">
		<%= f.submit "Update Scanner", class: "col-md-10 btn btn-default btn-info"%>
		</div>
	<% end %>
</div>