<div class="report-header">
	<%= render partial: "report_header", locals: {report_type: "Transfer"} %>
</div>
<div class="section-header">
	<h4>Inventory Summary</h4>
</div>
<div class="trans-table-container">
	<table class="table">
		<tr class="row">
			<th class="col-md-4">Category</th>
			<th class="col-md-2">Cost</th>
			<th class="col-md-2">Retail</th>
			<th class="col-md-2">Mgn</th>
			<th class="col-md-2">Allocation</th>
		</tr>
		<% @inventory.categories_alphabetically.each do |category| %>
			<tr class="row category-row">
				<td class="col-md-4 category-name"><%= Category.full_name(category) %></td>
				<td class="col-md-2">$<span class="cost-sum"><%= number_with_delimiter convert_to_dollar(category.sum_cost_prices) %></span></td>
				<td class="col-md-2">$<span class="retail-sum"><%= number_with_delimiter convert_to_dollar(category.sum_retail_prices)%></span></td>
				<td class="col-md-2"><%=  number_to_percentage(category.margin_percent, precision: 0) %></td>
				<td class="col-md-2"><%= number_to_percentage(category.allocation_percent, precision: 1) %></td>
			</tr>
		<% end %>
		<tr class="row total-line">
			<td class="col-md-4">Total:</td>
			<td class="col-md-2">$<%= number_with_delimiter convert_to_dollar(@inventory.cat_total_cost_value) %></td>
			<td class="col-md-2">$<%= number_with_delimiter convert_to_dollar(@inventory.cat_total_retail_value) %></td>
			<td class="col-md-2"></td>
			<td class="col-md-2"></td>
		</tr>
	</table>
</div>
<div class="section-header">
	<h4>Inventory Summary</h4>
</div>	
<div id="trans-chart-container">
</div>