<div class="row">
	<h2 class="col-md-3 col-md-offset-3">CURRENT</h2>
	<h2 class="col-md-2">PRIOR</h2>
	<h2 class="col-md-2">VARIANCE</h2>
	<h2 class="col-md-2">ALLOCATION</h2>
</div>
<table class="table">
	<tr class="row">
		<th class="col-md-3">Category</th>
		<th class="col-md-1">Cost</th>
		<th class="col-md-1">Retail</th>
		<th class="col-md-1">Mgn</th>
		<th class="col-md-1">Cost</th>
		<th class="col-md-1">Retail</th>
		<th class="col-md-1">Cost</th>
		<th class="col-md-1">Retail</th>
		<th class="col-md-1">Current</th>
		<th class="col-md-1">Prior</th>
	</tr>
	<% @inventory.current_and_previous_categories.each do |current, previous| %>
		<tr class="row">
			<td class="col-md-3"><%= Category.full_name(current) %></td>
			<td class="col-md-1">$<span class="cost-sum"><%= convert_to_dollar(current.sum_cost_prices) %></span></td>
			<td class="col-md-1">$<span class="cost-sum"><%= convert_to_dollar(current.sum_retail_prices) %></span></td>
			<td class="col-md-1"><%=  number_to_percentage(current.margin_percent, precision: 0) %></td>
			<td class="col-md-1">$<span class="cost-sum"><%= convert_to_dollar(previous.sum_cost_prices) %></span></td>
			<td class="col-md-1">$<span class="cost-sum"><%= convert_to_dollar(previous.sum_retail_prices) %></span></td>
			<td class="col-md-1">$<span class="cost-sum"><%= convert_to_dollar(current.sum_cost_prices - previous.sum_cost_prices) %></span></td>
			<td class="col-md-1">$<span class="cost-sum"><%= convert_to_dollar(current.sum_retail_prices - previous.sum_retail_prices) %></span></td>
			<td class="col-md-1"><%= number_to_percentage(current.allocation_percent, precision: 1) %></td>
			<td class="col-md-2"><%= number_to_percentage(previous.allocation_percent, precision: 1) %></td>
		</tr>
	<% end %>
		<tr class="row total-line">
			<td class="col-md-3">Total:</td>
			<td class="col-md-1">$<%= convert_to_dollar(@inventory.total_cost_value) %></td>
			<td class="col-md-1">$<%= convert_to_dollar(@inventory.total_retail_value) %></td>
			<td class="col-md-1"></td>
			<td class="col-md-1">$<%= convert_to_dollar(@inventory.business.previous_inventory(@inventory).total_cost_value) %></td>
			<td class="col-md-1">$<%= convert_to_dollar(@inventory.business.previous_inventory(@inventory).total_retail_value) %></td>
			<td class="col-md-1"></td>
			<td class="col-md-1"></td>
			<td class="col-md-1"></td>
			<td class="col-md-1"></td>
		</tr>
</table>