<div class="edit-margins">
	<div class="row">
		<h2 class="col-md-6">Edit Margins</h2>
		<h2 class="col-md-6"><%= link_to "Back", inventory_path(@inventory) %></h2>
	</div>
	<div class="row">
		<%= button_to "Update All Margin To Previous Inventory's", url: :update_margins_previous, method: :put%>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Category</h3>
		</div>
		<div class="col-md-6">
			<h3>Margin (use decimal)</h3>
		</div>
	</div>
	<%= form_for @inventory, url: :update_margins, method: :put do |f| %>
			<%= f.fields_for :categories do |c_f| %>
				<div class="row form-group">
					<div class="col-md-6">
						<%= label_tag Category.full_name(c_f.object) %>
					</div>
					<div class="col-md-6">
						<%= c_f.text_field :margin_value, class: 'form-control' %>
					</div>
				</div>
			<% end %>	

		<div class="row">
			<%= f.submit "Update", class: "col-md-12 btn btn-default" %>
		</div>
	<% end %>
</div>