<div class="inventory-container">
	<h1><%= @inventory.business.name %></h1>
	<h2><%= @inventory.date.to_date%> Inventory</h2>
	<div class="category row">
		<h3 class="report-header">Report by Category</h3>
		<div class="scanner col-md-8">
			<h3>Scanner</h3>
			<ol>
				<% @inventory.category_scanners.each do |scanner| %>
				<div class="row">
					<div class="col-md-4">
						<li><%= link_to "Edit Scanner", edit_category_scanner_path(scanner)%></li>
					</div>
					<div class="col-md-2">
						<p><%= link_to "Delete", category_scanner_path(scanner), method: :delete %></p>
					</div>
					<div class="col-md-6">
						<%= form_tag import_category_scanners_path, multipart: true do %>
						<%= file_field_tag :file%>
						<%= hidden_field_tag :scanner_id, scanner.id %>
						<%= submit_tag "Add Scanner Data", class: "btn btn-default" %>
						<% end %>
					</div>
				</div>
				<% end %>
			</ol>
				<%= link_to "Add Scanner", inventory_category_scanners_path(@inventory), method: :post %>
		</div>
		<div class="reports col-md-4">
			<h3>Generate Reports</h3>
		</div>
	</div>

	<div class="category row">
		<h3 class="report-header">Report by UPC Code</h3>
		<div class="scanner col-md-6">
			
		</div>
		<div class="reports col-md-6">
		</div>
	</div>
</div>