<div class="inventory-container">
	<div class="row">
		<%= link_to "Previous Inventory", inventory_path(@inventory.business.previous_next_repeat(@inventory, true)), class: "btn btn-info btn-default back-button col-md-2"%>
		<%= link_to "Next Inventory", inventory_path(@inventory.business.previous_next_repeat(@inventory, false)), class: "btn btn-info btn-default back-button col-md-2 col-md-offset-8"%>
	</div>
	<div class="row">
		<h1 class="col-md-6"><%= @inventory.business.name %></h1>
		<h1><%= link_to "Back", owner_business_path(@inventory.business.owner, @inventory.business), class: "btn btn-info btn-default back-button col-md-2 col-md-offset-2"%></h1>
	</div>
	<h2><%= @inventory.date.to_date%> Inventory</h2>
	<div class="category row">
		<h3 class="report-type-header">Report by Category</h3>
		<div class="scanner col-md-8">
			<h3>Scanner</h3>
			<ol>
				<% @inventory.category_scanners.each do |scanner| %>
				<div class="row">
					<div class="col-md-4">
						<li><%= link_to "Edit Scanner", edit_category_scanner_path(scanner)%></li>
					</div>
					<div class="col-md-2">
						<p><%= link_to "Delete", category_scanner_path(scanner), method: :delete %></p>
					</div>
					<div class="col-md-6">
						<%= form_tag import_category_scanners_path, multipart: true do %>
						<%= file_field_tag :file%>
						<%= hidden_field_tag :scanner_id, scanner.id %>
						<%= submit_tag "Add Scanner Data", class: "btn btn-default" %>
						<% end %>
					</div>
				</div>
				<% end %>
			</ol>
			<div class="row">
				<%= link_to "Add Scanner", inventory_category_scanners_path(@inventory), method: :post, class: "col-md-6"%>
				<%= link_to "Edit Category Margins", edit_margins_path(@inventory), class: "col-md-6" %>
			</div>
		</div>
		<div class="reports col-md-4">
			<h3>Generate Reports</h3>
			<ul>
				<li><%= link_to "View Transfer Report", trans_report_path(@inventory) %></li>
				<% if @inventory.business.previous_inventory(@inventory) != nil %>
					<li><%= link_to "View Department Report", dept_report_path(@inventory) %></li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="category row">
		<h3 class="report-type-header">Report by UPC Code</h3>
		<div class="scanner col-md-6">
			
		</div>
		<div class="reports col-md-6">
		</div>
	</div>
</div>