<div class="table-container">
	<table class="table">
		<tr class="row">
			<th class="col-md-4">Category</th>
			<th class="col-md-2">Cost</th>
			<th class="col-md-2">Retail</th>
			<th class="col-md-2">Mgn</th>
			<th class="col-md-2">Allocation</th>
		</tr>
		<% @inventory.categories.each do |category| %>
			<tr class="row">
				<td class="col-md-4"><%= Category.full_name(category) %></td>
				<td class="col-md-2"><%= category.sum_cost_prices %></td>
				<td class="col-md-2"><%= category.sum_retail_prices%></td>
				<td class="col-md-2"><%= category.margin_value %></td>
				<td class="col-md-2"><%= number_to_percentage(category.allocation_percent, precision: 1) %></td>
			</tr>
		<% end %>
		<tr class="row total-line">
			<td class="col-md-4">Total:</td>
			<td class="col-md-2"><%= @inventory.total_cost_value %></td>
			<td class="col-md-2"><%= @inventory.total_retail_value %></td>
		</tr>
	</table>
</div>